.root {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
}

.root::after {
    content: "";
    display: table;
    clear: both;
}

.root ul, 
.root li {
    margin: 0;
    padding: 0;
}

.hamburger {
    background-color: transparent;
    border: 0;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    float: left;
    font: inherit;
    margin: 0.8125em 0 0;
    overflow: visible;
    outline: none;
    padding: 0;
    text-transform: none;
    transition: opacity 0.15s;
    -webkit-appearance: none;
}

.hamburger:hover {
    opacity: 0.7;
}

.hamburgerBox {
    width: 30px;
    height: 24px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.hamburgerInner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburgerInner,
.hamburgerInner::before,
.hamburgerInner::after {
    width: 30px;
    height: 2px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: none;
}

.hamburgerInner::before,
.hamburgerInner::after {
    content: "";
    display: block;
}

.hamburgerInner::before {
    top: -6px;
}

.hamburgerInner::after {
    bottom: -6px;
}

.isOpen .hamburgerInner,
.isOpen .hamburgerInner::before,
.isOpen .hamburgerInner::after {
    background-color: #000;
}

.isOpen .hamburgerInner {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.isOpen .hamburgerInner::before {
    top: 0;
    opacity: 0;
}

.isOpen .hamburgerInner::after {
    bottom: 0;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

nav {
    clear: both;
    display: flex;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    padding-top: 1.5em;
}

nav.isOpen {
    height: auto;
    overflow: visible;
}

nav .menuColumn {
    padding-bottom: 2.5em;
}

@media screen and (min-width: 550px) {
   nav {
        flex-direction: row;
        flex-wrap: wrap;
    }

    nav .menuColumn {
        flex: 0 0 50%;
    }
}

@media screen and (min-width: 768px) {
    nav .menuColumn {
        flex: 0 0 33.333333333%;
    }
}

@media screen and (min-width: 960px) {
    nav {
        flex-wrap: nowrap;
    }

    nav .menuColumn {
        flex: 0 0 20%;
    }
}

nav .menuColumnHeader {
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    width: 90%;
    display: inline-block;
    margin-bottom: 5px;
}

nav ul {
    list-style-type: none;
    margin-top: 1em;
}

nav li {
    margin-bottom: 0.3125em;
}

nav li a {
    color: #b4b9ba;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav li a:hover,
nav li a:focus {
    color: #686d6e;
}

.menuColumn {
    opacity: 0;
}

.isOpen .menuColumn {
    transform: translateY(40px);
    transition: opacity 0.3s ease;
    animation: fade-in-stagger 0.8s ease forwards;
}

.isOpen .menuColumn:nth-child(1) {
    -webkit-animation-delay: 0;
}

.isOpen .menuColumn:nth-child(2) {
    -webkit-animation-delay: 0.1s;
}

.isOpen .menuColumn:nth-child(3) {
    -webkit-animation-delay: 0.2s;
}

.isOpen .menuColumn:nth-child(4) {
    -webkit-animation-delay: 0.3s;
}

.isOpen .menuColumn:nth-child(5) {
    -webkit-animation-delay: 0.4s;
}

@keyframes fade-in-stagger {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}