.root {
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 100%;
    line-height: 1.5;
}

.root::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.root * {
    position: relative;
    z-index: 1;
}

header {
    padding-top: 2.5em;
    position: relative;
}

header::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
}

header.isOpen {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

header.isOpen::after {
    opacity: 1;
}